.alarmOn {
  display: none;
}
.alarmOn h1 {
  -webkit-animation: alarmRotate 2s infinite; /* Safari 4+ */
  -moz-animation:    alarmRotate 2s infinite; /* Fx 5+ */
  -o-animation:      alarmRotate 2s infinite; /* Opera 12+ */
  animation:         alarmRotate 2s infinite; /* IE 10+, Fx 29+ */
}
@-webkit-keyframes alarmRotate {
  0% {
    transform: skewX(20deg);
  }
  50% {
    transform: skewX(-40deg);
  }
  100% {
    transform: skewX(20deg);
  }
}
